body{
  background-color: #000;
  color: #fff;
  margin: 0px;
  padding: 0px;
  font-family: Arial;
}

i{
  cursor: pointer;
  position: absolute;
  font-size: 3rem; 
  top:25%;
  left:50%;
  transform:translate(-50%, -50%)
}
button{
  /* 边框：无边框样式、允许border合并（不屑则默认为浏览器默认样式） */
  outline:none;
  border: none;
  border: collapse;
  border-radius: 8px;
  /* 大小、位置和背景色：vw、vh真好用，button、list等都适合 */
  height:6vh;
  width:10vw;
  min-width: 100px;
  min-height: 35px;
  position: absolute;
  left:50%;
  top:65%;
  transform: translate(-50%, -50%);
  background-color: #2ecc71;
  /* 文本、指针 */
  padding:10px;
  color:#fff;
  text-align: center;
  font-size: 1.5em;
  overflow: hidden;
  cursor: pointer;
}

/* 伪类要靠近元素名写 */
button:hover{
  background-color: #3498db;
}
.screen{
  /* 绝对定位，使之位于屏幕中央，不会随页面滚动而移动 */
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.screen img{
  max-width: 100%; 
  max-height: 100%;
  /* 覆盖全部窗口，无滚轮 */
  transform: scale(1.5);
  background-size: cover;
}
#load {font-size: 3em;}

#load.screen{
    animation: fadeIn 2s infinite alternate;
}
@keyframes fadeIn{
  from{opacity: 0;}
}
/* 当窗口<768px时 */
@media (max-width: 900px) {  
  button {  
    font-size: 1.2em;  
  }  
}
@media (max-width: 768px) {  
  button {  
    font-size: 1em;  
  }  
}